*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}

.nav {
  position: fixed;
  width: 100%;
  transition: background-color 0.3s ease;
}

.nav.dark-nav {
  background-color: plum; /* or any color you want */
  color: white;
}


.navimg{
    display: flex;
    align-items: center;
    justify-content: center;
  width: 100px;
  
}
.dark-nav{
    background-color: #212ea0;
    transition: 0.5s;
}
.content{
      display: flex;
     justify-content: space-between;
   
  
}
.content ul li{
 display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.icon{
      display: flex;
    justify-content: space-around;
   
  
}
ul{
    display: flex;
    justify-content: space-between;
}
.nav{
    width: 100%;
    /* background:#333 ; */
    color: black;
    background: transparent;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    
}
/* nav i{
    font-size: 30px;
} */
.icon ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .content {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .content ul {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }

  .content ul li {
    margin: 10px 0;
    font-size: 18px;
  }

  .icon {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
  }

  .icon ul {
    flex-direction: row;
    width: 100%;
    padding-left: 0;
  }

  .icon ul li {
    margin: 10px 0;
    font-size: 18px;
  }

  .navimg {
    margin-bottom: 10px;
  }
}

