.cart {
  max-width: 600px;
 
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.cart p {
  text-align: center;
  color: #777;
  font-size: 16px;
}

.cart ul {
    display: flex;
    flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 12px;
  margin-bottom: 12px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}
.cart li button{
    padding: 8px;
    border-radius: 30px;
    background-color: rgb(135, 135, 224);
}
.cart li button:hover{
    background-color: rgb(228, 60, 60);
}
.imgbox {
  flex-shrink: 0;
}

.imgcart img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;

 
}

.itemname {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
  color: #444;
}

.itemprice {
  font-size: 16px;
  font-weight: bold;
  color: #2e8b57;
}
.cart li:hover{
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.clear{
  background-color:  rgb(135, 135, 224);
    padding: 8px;
    border-radius: 30px;
}
.clear:hover{
    background-color: rgb(228, 60, 60);
}