*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.Home{
    width: 100%;
    min-height: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img {
    width: 100%;
    height: 100%;
    display: flex;
}

.img img {
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
}


@media (max-width: 768px) {
  .Home {
    flex-direction: column;
    text-align: center;
    
  }

  .img {
    flex-direction: column;
    height: auto;
  }

  .img img {
    width: 100%;
    height: auto;
  }
}
