.reference ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.reference li {
  flex: 0 0 calc(33.333% - 1rem); 
  box-sizing: border-box;
  background-color: #fdf6f9;
  padding: 1rem;
  border-radius: 8px;
  font-family: 'Georgia', serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
 box-shadow: 5px 4px 22px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.reference ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}
